body {
    margin: 0;
}

.container {
    width: calc(100% - 275px);
    float: left;
    box-sizing: border-box;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);;
    color: white;
    height: 60px;
    width: calc(100% - 275px);
    position: fixed;
    z-index: 1;
}

.logo {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    background-color: #eb851c;
    width: 80px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    float: left;
}

.logo-kma {
    font-size: 20px;
}

.logo-image {
    position: absolute;
    scale: -1;
    width: 80px;
    left: 0;
    top: 100%;
}

.top-bar {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    padding: 5px 10px;
    box-sizing: border-box;
    width: calc(100% - 90px);
    float: left;
    align-content: space-between;
}

.top-bar-top {
    color: #9f9f9f;
    height: 50%;
    position: relative;
}

.top-bar-hr {
    border-color: #9f9f9f;
    margin: 0;
}

.top-bar-bottom {
    height: 50%;
}

.top-bar-bottom-span {
    display: inline-block;
    font-size: 18px;
    margin-top: 3px;
}

.schedule {
    margin: 0 20px;
    font-size: 11px;
}

.enter-button {
    float: right;
    background-color: #eb851c;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #d16200;
}

.container-main {
    background-color: #fdfdf4;
    padding-top: 60px;
    border-bottom: 2px solid #e0e0e0;
}

.container-header, .container-menu {
    text-align: center;
}

.container-header-text {
    display: inline-block;
    margin: 10px 0;
}

.container-menu-button {
    padding: 8px 10px;
    color: #eb851c;
    background-color: #fdfdf4;
    border: none;
    border-radius: 5px;
}

.inactive {
    background-color: #eb851c;
    color: white;
}

.container-pizzas {
    padding: 30px calc((100% - 830px) / 2) 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    justify-items: center;
}

.pizza-card {
    display: inline-block;
    width: 260px;
    height: 500px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    position: relative;
}

.new::after, .popular::after {
    content: "Популярна";
    position: absolute;
    background-color: #22ba46;
    box-sizing: border-box;
    color: white;
    right: -10px;
    top: -10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.new::after {
    content: "Нова";
    background-color: #db2828;
}

.pizza-card-caption {
    padding: 0 10px 10px;
}

.pizza-card-image {
    width: 100%;
}

.pizza-card-name {
    margin: 0;
    color: #eb851c;
    font-size: 25px;
}

.pizza-card-type {
    font-size: 11px;
    color: #9f9f9f;
}

.pizza-card-description {
    margin: 0;
    font-size: 14px;
    height: 50px;
}

.pizza-card-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12px;
}

.pizza-card-buy-size {
    display: flex;
    flex-direction: column;
}

.container .pizza-weight {
    margin: 3px 0 0;
}

.pizza-card-size-price-number {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin-top: 13px;
}

.pizza-card-size-price-text {
    text-align: center;
    margin-top: -5px;
}

.buy-button {
    background-color: #eb851c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #d16200;
    margin-top: 5px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.footer-span {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    color: #9f9f9f;
}

.order {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 275px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    box-shadow: 0 0 10px gray;
    z-index: 1;
}

.order-head {
    display: flex;
    background-color: white;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

.order-header-order {
    display: inline-block;
    font-size: 18px;
}

.pizza-number, .order-pizza-number {
    color: white;
    background-color: #eb851c;
    display: inline-block;
    height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 1px;
    box-sizing: border-box;
    margin-left: 5px;
}

.order-clean-button {
    display: inline-block;
    background-color: white;
    margin-left: auto;
    font-size: 9px;
    border-width: 0;
    color: #9f9f9f;
}

.order-main {
    background-color: #f4f4f4;
    height: calc(100% - 160px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 2px solid #e0e0e0;
}

.order-card {
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100px;
    border-bottom: 2px solid #e0e0e0;;
}

.order-card-content {
    height: 80px;
    float: left;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
}

.order-card-pizza-image {
    float: right;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    margin-right: -40px;
}

.order-card-pizza-name {
    display: block;
    color: #eb851c;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-card-pizza-data {
    display: flex;
    flex-direction: row;
}

.pizza-size, .pizza-weight {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.size-number, .weight-number {
    margin-left: 3px;
    font-size: 12px;
}

.size-icon, .weight-icon {
    height: 10px;
}

.pizza-weight {
    margin-left: 15px;
}

.order-card-pizza-buttons {
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-right: 30px;
}

.order-card-pizza-price {
    font-weight: bold;
    display: inline-block;
    font-size: 13px;
    width: 40px;
}

.order-card-minus, .order-card-plus, .order-card-delete {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    border-width: 1px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.order-card-minus {
    background-color: #db2828;
    border-color: #bf2728;
}

.order-card-plus {
    background-color: #22ba46;
    border-color: #22a441;
}

.order-card-delete {
    border-color: #9f9f9f;
    color: #eb851c;
}

.order-card-pizza-number {
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin: auto;
    text-align: center;
}

.order-card-pizza-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.order-footer {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.order-sum-title {
    display: inline;
}

.order-sum-money {
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.order-button {
    background-color: #eb851c;
    border-width: 1px;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    height: 50%;
    border-color: #d16200;
}

.sale {
    display: inline-block;
    position: fixed;
    background-color: #eb851c;
    width: 80px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    left: 10px;
    bottom: 0;
    color: white;
    font-weight: bold;
}

.sale-image {
    position: absolute;
    width: 80px;
    left: 0;
    bottom: 100%;
}

.sale-hr {
    margin: 5px 0;
    border-style: dashed;
    border-color: #d16200;
}

@media (max-width: 1175px) {
    .container-pizzas {
        padding: 30px calc((100% - 545px) / 2) 20px;
    }
}

@media (max-width: 940px) {
    .free-delivery {
        display: none;
    }
}

@media (max-width: 890px) {
    .container-pizzas {
        padding: 30px calc((100% - 260px) / 2) 20px;
    }
}

@media (max-width: 745px) {
    .schedule {
        display: none;
    }
}

@media (max-width: 615px) {
    .top-bar-bottom-span {
        display: none;
    }

    .enter-button {
        position: absolute;
        right: 0;
        top: calc(100% + 3px);
    }
}
